/* Style.css */

body {
    background-color: rgb(222, 222, 223);
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
}

.toplink {
    background-color: rgb(117, 160, 240);
    overflow: hidden;
    padding: 10px;
}

.toplink a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.toplink a:hover {
    color: #f39f9f;
    background-color: #6982f3;
    text-decoration: none;
}

.header {
    background-color: azure;
    text-align: center;
    padding: 20px;
}

.car_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.car {
    text-align: center;
}

.car img {
    width: 100%;
    height: auto;
}

.car h3 {
    margin: 10px 0;
}

.footer {
    background-color: azure;
    text-align: center;
    padding: 10px;
}
